.transform {
    transition-duration: 2s;
}
  
.transform:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
}
.overlay {
    position: absolute;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .7s ease-out;
}